body{
    background: #666666;
}

#contenedor{
    width: 1024px;
    height: 507px;    
    margin:-8px;    
    background-image: url(58918678.png);
    padding-top: 100px;
}

#hasiera{  
    background-color: #FFFFFF;
    color: #FF0033;
    font-family: monospace;
    font-weight: bold;
    margin: auto;
    width: 300px;
}
#testua{
    opacity: 0.5;
}

#goi{
    background-color: #333333;
    color:#ffffff;    
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    width: 500px;
}

#titulo{
    color:#ffffff;
    text-align: center;
}

#menu{
    text-decoration:  none;
    color:#000000;
    
}

#menu li {
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 10px 10px 10px 10px;
    float: left;
    list-style-type: none;
    margin: 0 0 0 0.5em;
    padding: 0.5em;
    text-decoration:  none;
}
#bentmenu{
     margin: auto;
    overflow: auto;
    width: 460px;
}

#coches{
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 10px 40px 40px;
    width: 925px;
}

h1{
    font-family: Tahoma,Times,serif;
    font-size: 29px;
    font-weight: bolder;
    text-align: center;
}
#tabla1{
    margin-top: -70px;
}


