#contenedor1{
    background-color: #666666;
    width: 1024px;
    height: 508px;
    margin-left: -8px;
    margin-top: -21px;
    padding: 30px;
}
#titulo{
    color:#ffffff;
    text-align: center;
}

