#contenedor{
    width: 1024px;
    height: 607px;    
    margin:-8px;    
    background-image: url(58918678.png);
    padding-top: 100px;
}

#hasiera{  
    background-color: #FFFFFF;
    color: #FF0033;
    font-family: monospace;
    font-weight: bold;
    margin: auto;
    width: 300px;
}
#testua{
    opacity: 0.5;
}

